# torch --> https://pytorch.org/get-started/locally/
langchain
langchain-community
langchain-core
pymupdf
fastapi
uvicorn
celery
pymilvus==2.4.9
milvus-model==0.2.8
FlagEmbedding==1.2.11
python-multipart